@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Benvenuto nella tua Collezione di Carte</h1>

    <div class="d-flex justify-content-center flex-wrap gap-3">
        <a href="/PokemonCard" class="btn btn-warning btn-lg px-4 shadow">Carte Pokémon</a>
        <a href="/YuGiOhCard" class="btn btn-danger btn-lg px-4 shadow">Carte Yu-Gi-Oh!</a>
        <a href="/MagicCard" class="btn btn-success btn-lg px-4 shadow">Carte Magic</a>
        <a href="/Home/Dashboard" class="btn btn-dark btn-lg px-4 shadow">Dashboard</a>
    </div>
</div>
